#FastAPI is the web framework used for building our API with
fastapi==0.111.0

#uvicorn is the server which actually runs FastAPI 
uvicorn==0.30.1

#pydantic is used for handling data validation, checking requests and responses for their format and types
pydantic==2.7.4

#the pydantic extension used for handling loading settings from env vars and .env files
pydantic-settings==2.3.4

#Official python library for interacting with Azure's Blob storage,used for generating presigned URLs
azure-storage-blob==12.20.0

#Used for allowing FastAPI to handle file uploads in requests
python-multipart==0.0.9

#The ORM, which lets interacion with PostgreSQL using Python classes instead of raw SQL. 
#It also handles creating tables, relationships between tables, and database connections.
sqlalchemy==2.0.31

#The driver that actually connects Python to PostgreSQL. 
#SQLAlchemy needs this under the hood to talk to the database. 
#The binary version means it comes pre-compiled, i.e no extra system dependencies needed.
psycopg2-binary==2.9.9

#A database migration tool that works with SQLAlchemy. 
#When the database structure needed to be changed: (add a column, rename a table,etc.) Alembic tracks those changes
#Instead of manually running SQL to update the database, you write a migration file and Alembic applies it.
alembic==1.13.2

#A password hashing library. passlib hashes password them securely before storing in the database. 
#When a user logs in, it hashes what had typed and compares it to the stored hash.
passlib==1.7.4

#The actual hashing algorithm used by passlib. 
#bcrypt is specifically designed to be slow, which makes brute force attacks much harder since each attempt takes a while.
bcrypt==4.1.3

#The library that creates and validates JWT tokens.
#JOSE (JavaScript Object Signing and Encryption) handles generating the token when someone logs in and verifying it on every subsequent request.
python-jose==3.3.0

#The email validator package to check email inputs and checks if they are valid
email-validator==2.1.1
